---
import DefaultLayout from '../../layouts/default/DefaultLayout.astro';
import DefaultComponent from '../../components/default/DefaultComponent.astro';
import defaultComponentVariants from '../../../../shared/header.json';
import type { DBHeaderProps } from '@components';
import { getPropsAsAttributes, getVariantsWithExamples } from '../../utils';

const exampleFn = ({
	width,
	forceMobile,
	children,
	example,
	withName,
	withNavigation,
}: DBHeaderProps & { example?: boolean; withName?: boolean; withNavigation?: boolean }) => {
	const props = { width, 'force-mobile': forceMobile };

	return `
		<db-header ${getPropsAsAttributes(props)}>
			<db-brand slot="brand" title="DBHeader">
				${!example || withName ? 'DBHeader' : ''}
			</db-brand>
			${
				!example
					? `
				<div slot="metaNavigation">
								<db-link href="#">Imprint</db-link>
								<db-link href="#">Help</db-link>
				</div>
				<db-button slot="primaryAction" icon="magnifying_glass" variant="ghost" no-text="true">Search</db-button>
				<div slot="secondaryAction">
					<db-button icon="x_placeholder" variant="ghost" no-text="true">Profile</db-button>
					<db-button icon="x_placeholder" variant="ghost" no-text="true">Notification</db-button>
					<db-button icon="x_placeholder" variant="ghost" no-text="true">Help</db-button>
				</div>
			`
					: ''
			}
			${
				!example || withNavigation
					? `
				<db-navigation aria-label="${children}">
					<db-navigation-item icon="x_placeholder">
						<a href="#">${children}</a>
					</db-navigation-item>
					<db-navigation-item disabled>
						<a href="#">${children} disabled</a>
					</db-navigation-item>
				</db-navigation>
			`
					: ''
			}
		</db-header>
	`;
};
const variants = getVariantsWithExamples<DBHeaderProps>(defaultComponentVariants, exampleFn);
---

<DefaultLayout>
	<DefaultComponent title="DBHeader" variants={variants} />
</DefaultLayout>
