---
import DefaultLayout from '../../layouts/default/DefaultLayout.astro';
import DefaultComponent from '../../components/default/DefaultComponent.astro';
import defaultComponentVariants from '../../../../shared/tag.json';
import type { DBTagProps } from '@components';
import VariantList from '../../components/default/VariantList.astro';
import type { DefaultComponentVariants } from '../../../../shared/default-component-data.ts';
import { DBTag } from '@components';
---

<DefaultLayout>
	<DefaultComponent title="DBTag" variants={defaultComponentVariants}>
		{
			(variant: DefaultComponentVariants) => (
				<VariantList {...variant}>
					{({
						children,
						lineBreak,
						component,
						checked,
						disabled,
						identifier,
						content,
						overflow,
						...props
					}: DBTagProps & {
						lineBreak?: boolean;
						component?: string;
						checked?: boolean;
						disabled?: boolean;
						identifier?: string;
						content?: boolean;
					}) => {
						if (lineBreak) {
							return <i class="line-break" />;
						}

						let innerContent = <>{children}</>;
						if (component === 'button') {
							innerContent = <button>{children}</button>;
						} else if (component === 'link') {
							innerContent = <a href="#">{children}</a>;
						} else if (component === 'checkbox') {
							innerContent = (
								<label>
									<input type="checkbox" checked={checked} disabled={disabled} />
									{children}
								</label>
							);
						} else if (component === 'radio') {
							innerContent = (
								<label>
									<input type="radio" checked={checked} name={identifier} />
									{children}
								</label>
							);
						} else if (overflow) {
							innerContent = <span>{children}</span>;
						}

						return (
							<DBTag {...props} overflow={overflow}>
								{content && <div slot="content" class="default-content-slot">Swap Slot</div>}
								{innerContent}
							</DBTag>
						);
					}}
				</VariantList>
			)
		}
	</DefaultComponent>
</DefaultLayout>
