---
import type { DefaultComponentVariants } from '../../../../shared/default-component-data.ts';
import { DBDivider, DBLink } from '@components';
import { COLOR, DENSITY } from '@db-ux/ngx-core-components/src';
interface Props {
	title: string;
	variants: DefaultComponentVariants[];
}
const { title, variants } = Astro.props;

const getLink = (variantName: string) => {
	let currentUrl = globalThis.location?.href;
	if (!currentUrl?.includes('?')) {
		currentUrl += '?';
	}

	return `${currentUrl}&page=${variantName.toLowerCase()}`;
};
---

<div class="default-container">
	<div class="component-header">
		<h1>{title}</h1>
	</div>
	{
		variants.map((variant) => (
			<div>
				<DBDivider />
				<DBLink
					className="link-headline"
					content="external"
					target="_blank"
					rel="noopener noreferrer"
					href={getLink(variant.name)}
				>
					{variant.name}
				</DBLink>
				<Fragment set:html={Astro.slots.render('default', [variant])} />
			</div>
		))
	}
</div>
