---
import { DBNavigationItem } from '@components';
---

<DBNavigationItem hideSubNavigation={true}><a href="">Home</a></DBNavigationItem>
<DBNavigationItem text="01 Layout">
	<div slot="subNavigation">
		<DBNavigationItem hideSubNavigation={true}><a href="01/card">Card</a></DBNavigationItem>
		<DBNavigationItem hideSubNavigation={true}><a href="01/divider">Divider</a></DBNavigationItem>
		<DBNavigationItem hideSubNavigation={true}><a href="01/drawer">Drawer</a></DBNavigationItem>
		<DBNavigationItem hideSubNavigation={true}><a href="01/header">Header</a></DBNavigationItem>
		<DBNavigationItem hideSubNavigation={true}><a href="01/popover">Popover</a></DBNavigationItem>
		<DBNavigationItem hideSubNavigation={true}><a href="01/section">Section</a></DBNavigationItem>
		<DBNavigationItem hideSubNavigation={true}><a href="01/stack">Stack</a></DBNavigationItem>
	</div>
</DBNavigationItem>
<DBNavigationItem text="02 Action">
	<div slot="subNavigation">
		<DBNavigationItem hideSubNavigation={true}><a href="02/button">Button</a></DBNavigationItem>
		<DBNavigationItem hideSubNavigation={true}><a href="02/link">Link</a></DBNavigationItem>
	</div>
</DBNavigationItem>
<DBNavigationItem text="03 Data-Input">
	<div slot="subNavigation">
		<DBNavigationItem hideSubNavigation={true}><a href="03/checkbox">Checkbox</a></DBNavigationItem>
		<DBNavigationItem hideSubNavigation={true}
			><a href="03/custom-select">CustomSelect</a></DBNavigationItem
		>
		<DBNavigationItem hideSubNavigation={true}><a href="03/input">Input</a></DBNavigationItem>
		<DBNavigationItem hideSubNavigation={true}><a href="03/radio">Radio</a></DBNavigationItem>
		<DBNavigationItem hideSubNavigation={true}><a href="03/select">Select</a></DBNavigationItem>
		<DBNavigationItem hideSubNavigation={true}><a href="03/switch">Switch</a></DBNavigationItem>
		<DBNavigationItem hideSubNavigation={true}><a href="03/textarea">Textarea</a></DBNavigationItem>
	</div>
</DBNavigationItem>
<DBNavigationItem text="04 Data-Display">
	<div slot="subNavigation">
		<DBNavigationItem hideSubNavigation={true}
			><a href="04/accordion">Accordion</a></DBNavigationItem
		>
		<DBNavigationItem hideSubNavigation={true}
			><a href="04/accordion-item">AccordionItem</a></DBNavigationItem
		>
		<DBNavigationItem hideSubNavigation={true}><a href="04/brand">Brand</a></DBNavigationItem>
		<DBNavigationItem hideSubNavigation={true}><a href="04/icon">Icon</a></DBNavigationItem>
		<DBNavigationItem hideSubNavigation={true}><a href="04/infotext">Infotext</a></DBNavigationItem>
		<DBNavigationItem hideSubNavigation={true}><a href="04/tab-item">TabItem</a></DBNavigationItem>
		<DBNavigationItem hideSubNavigation={true}><a href="04/tabs">Tabs</a></DBNavigationItem>
		<DBNavigationItem hideSubNavigation={true}><a href="04/tag">Tag</a></DBNavigationItem>
		<DBNavigationItem hideSubNavigation={true}><a href="04/tooltip">Tooltip</a></DBNavigationItem>
	</div>
</DBNavigationItem>
<DBNavigationItem text="05 Navigation">
	<div slot="subNavigation">
		<DBNavigationItem hideSubNavigation={true}
			><a href="05/navigation">Navigation</a></DBNavigationItem
		>
		<DBNavigationItem hideSubNavigation={true}
			><a href="05/navigation-item">NavigationItem</a></DBNavigationItem
		>
	</div>
</DBNavigationItem>
<DBNavigationItem text="06 Feedback">
	<div slot="subNavigation">
		<DBNavigationItem hideSubNavigation={true}><a href="06/badge">Badge</a></DBNavigationItem>
		<DBNavigationItem hideSubNavigation={true}
			><a href="06/notification">Notification</a></DBNavigationItem
		>
	</div>
</DBNavigationItem>
